.kpis {
  display: grid;
  gap: 2rem;
  height: 100%;

  .kpi {
    display: grid;
    place-items: center;
    border: 1px solid rgba(96, 96, 96, 0.15);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon {
      display: grid;
      place-items: center;
      border: 1px solid rgba(96, 96, 96, 0.15);
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
    }

    .content {
      display: grid;
    }

    svg {
      width: 3rem;
      height: 3rem;
      color: #172554;
    }

    .value {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
