.menu {
  padding: 1rem;
  border: 1px solid rgba(96, 96, 96, 0.15);
  height: calc(100% - 1.5rem);
  margin-top: 1.5rem;
  .container {
    display: grid;
    gap: 1rem;
  }

  .item-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 0.5rem;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .item {
    border-bottom: 1px solid rgba(96, 96, 96, 0.15);
    padding-bottom: 1rem;
  }

  ul {
    list-style-position: inside;
  }
}
