.menu {
  border: 1px solid rgba(96, 96, 96, 0.15);
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;

  > img {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -2.5rem;
    left: 1rem;
  }

  .item-title {
    font-weight: bold;
  }

  .icon {
    display: grid;
    place-items: center;
    border: 1px solid rgba(96, 96, 96, 0.15);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
  }

  .item {
    display: flex;
    gap: 1rem;

    &:not(:last-child) {
      padding-block: 1rem;
      border-bottom: 1px solid rgba(96, 96, 96, 0.15);
    }

    &:last-child {
      padding-top: 1rem;
    }
  }

  ul {
    list-style-position: inside;
  }
}
