.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid rgba(96, 96, 96, 0.15);

  .logo {
    font-weight: bold;
    font-size: 2rem;
  }

  .time {
    font-weight: bold;
    font-size: 2rem;

    &.red-hour {
      color: red;
    }
  }
}
