<section class="calendar">
  <h2 class="calendar-title">Votre calendrier de la semaine</h2>

  <div class="calendar-body">
    <div *ngFor="let day of objectKeys(events)">
      <div class="day">
        <div
          class="calendar-header-day"
          [ngClass]="getCurrentDay() == day ? 'current' : ''"
        >
          {{ day }} <span *ngIf="getCurrentDay() == day">(Aujourd'hui)</span>
        </div>
        <div
          class="event"
          [ngClass]="{ exam: event.isAnExam == true }"
          *ngFor="let event of events[day]"
        >
          <div class="hour">{{ event.hour }}</div>
          <div class="title">
            {{ event.name }}
            <span *ngIf="event.isAnExam == true">(examen)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
